@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;

    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;

    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;

    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;

    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;

    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;

    --input: 214.3 31.8% 91.4%;

    --ring: 222.2 84% 4.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem
  }
  .dark {
    --background: 258 30% 11%;

    --foreground: 258 15% 96%;

    --card: 258 28% 15%;

    --card-foreground: 258 15% 96%;

    --popover: 258 28% 17%;

    --popover-foreground: 258 15% 96%;

    --primary: 258 75% 68%;

    --primary-foreground: 258 20% 98%;

    --secondary: 258 30% 25%;

    --secondary-foreground: 258 15% 96%;

    --muted: 258 20% 20%;

    --muted-foreground: 258 10% 65%;

    --accent: 258 30% 22%;

    --accent-foreground: 258 15% 98%;

    --destructive: 350 75% 55%;

    --destructive-foreground: 0 0% 98%;

    --border: 258 25% 25%;

    --input: 258 25% 20%;

    --ring: 258 70% 75%;

    --chart-1: 260 70% 75%;

    --chart-2: 175 65% 50%;

    --chart-3: 45 80% 60%;

    --chart-4: 310 70% 65%;

    --chart-5: 210 75% 60%;
    
    --radius: 0.5rem

    --accent: 258 70% 12%;

    --accent-foreground: 258 15% 98%;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
